@charset "utf-8";
/* CSS Document */
body {
    background-color: #d0e4fe;
	font-family:Arial, Helvetica, sans-serif;
}

h1 {
	color: orange;
	text-align: center;
	font-style: italic;
}

ul {
	background-color: orange;
	font-weight: bold;
}

p {
    
}

img {
	border:1px solid;	
	
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
	min-width: 100px;
}

.dropdown:hover .dropdown-content {
    display: block;
}