@charset "utf-8";
/* CSS Document */
body {
    background-color: #d0e4fe;
	font-family:Arial, Helvetica, sans-serif;
}

h1 {
	color: orange;
	text-align: center;
	font-style: italic;
	
}

nav {
	background-color: orange;
	font-weight: bold;
	font-size:16px
	<html>
	Hey
	</html>
}

p {
    
}

img {
	border:1px solid;	
	
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
	min-width: 100px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

testing

ul#menu {
    padding: 0;
    margin-bottom: 11px;
}

ul#menu li {
    display: inline;
    margin-right: 3px;
}

ul#menu li a {
    background-color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    color: #696969;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    color: white;
    background-color: black;
}