@charset "utf-8";
/* CSS Document */
body {
    background-color: #d0e4fe;
	font-family:Arial, Helvetica, sans-serif;
}

h1 {
	color: orange;
	text-align: center;
	font-style: italic;
}

ul {
	background-color: orange;
}

p {
    
}

img {
	border: 2;	
}